html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.125rem;
    color: black;
    background-color: #F6F6F6;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.flex{
    display: flex;

    &-justify-sb {
        justify-content: space-between;
    }

    &-justify-c {
        justify-content: center;
    }

    &-aling-i {
        align-items: center;
    }

    &-justify-e {
        justify-content: flex-end;
    }

}

.button {
    padding: 0.625rem;
    // margin-right: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white !important;
    background-color: #39BB97;
    transition: opacity 300ms ease-in-out;
}

.button:hover {
    opacity: 0.75;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
