html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.125rem;
    letter-spacing: 2px;
    font-weight: 800;
    color: $first-black-txt;
    background-color: #F6F6F6;
}

a, a:visited, a:hover {
    text-decoration: none;
    
}

p {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    color: $second-black-txt;
}

h1 {
    margin-top: 0;
    font-family: 'Anton', sans-serif;
    font-size: 2.8125rem; 
    letter-spacing: 3px;
    margin-bottom: 0;

    @include breakpoint-down(small) {
        font-size: 2rem;
    }
}

.flex{
    display: flex;

    &-justify-sb {
        justify-content: space-between;
    }

    &-justify-c {
        justify-content: center;
    }

    &-aling-i {
        align-items: center;
    }

    &-justify-e {
        justify-content: flex-end;
    }

}



.container {
    min-height: 100vh;
    width: 100%;
    padding: 0 1.5rem 0 1.5rem;
    
    @include breakpoint-down(small) {
        padding: 0 1.5rem 0 1.5rem;
    }

    &__h0 {
        width: 100%;
        padding: 0 1.5rem 0 1.5rem;
    
        @include breakpoint-down(small) {
            padding: 0 1.5rem 0 1.5rem;
        }
    }

    &__h50 {
        min-height: 50vh;
        width: 100%;
        padding: 0 1.5rem 0 1.5rem;
    
        @include breakpoint-down(small) {
            padding: 0rem 1.5rem 0 1.5rem;
        }
    }
    
}

.sub_container {
    flex-wrap: wrap;
    min-height: 100vh;
    
    @include breakpoint-down(small) {
        margin-top: 0;
        min-height: 80vh;
    }

    &__h50 {
        flex-wrap: wrap;
        margin-top: 0;

        h2 {
            display: none;
    
            @include breakpoint-up(large) {
                display: block;
                
            } 
        }

        p {
            margin: 0 0 0 0;
        }
    }
    
}

.button {
    display: inline-block;
    padding: 0.625rem;
    border-radius: 5px;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    color: white !important;
    background-color: $mainGreen;
    transition: opacity 300ms ease-in-out;

    &__cta {
        display: inline-block;
        color: rgb(55, 55, 55);
        margin: 1.875rem 0 1.875rem 0;
        padding-bottom: 0.625rem;
        // border-bottom: 4px solid #39BB97     
    }

    &:hover {
        opacity: 0.75;
    }
}

.fas {
    color: $mainGreen;
}


//Media query
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
//*