html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    // font-family: 'Urbanist', sans-serif;
    font-family: 'Geomanist', sans-serif;
    font-size: 1.125rem;
    font-weight: 900;
    color: black;
    background-color: #F6F6F6;
}

a, a:visited, a:hover {
    text-decoration: none;
}

.flex{
    display: flex;

    &-justify-sb {
        justify-content: space-between;
    }

    &-justify-c {
        justify-content: center;
    }

    &-aling-i {
        align-items: center;
    }

    &-justify-e {
        justify-content: flex-end;
    }

}

.main_container {
    width: 100%;
    margin-top: 100px;
    padding: 24px;

    .wrap {
        display: flex;
        flex-wrap: wrap;
    
        &__responsive {
            @include breakpoint-down(small) {
                flex-direction: column;
            }
        }      
    }
    
    .column-50 {
        flex: 50%;   
        // height: 30%;
        border: 1px solid red;
    }
}

.button {
    display: inline-block;
    padding: 0.625rem;
    // margin-right: 50px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: white !important;
    background-color: #39BB97;
    transition: opacity 300ms ease-in-out;
}

.button:hover {
    opacity: 0.75;
}

.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large) {
        display: none;
    }
}
