.header {
    position: absolute;
    width: 100%;
    z-index: 10;

    nav{
        padding: 24px;

    }

    //fixed nav only mobile
    @include breakpoint-down(medium) {
        .fixed {
            position: fixed;
            top: 0;
            background-color: white;
            width: 100%;
            
        }
    }
   

    // Hamburger style
    &.open {
        //icon hamburger
        .header__hamburger {

            >span:first-child {
                transform: rotate(45deg);
            }
    
            >span:nth-child(2) {
                opacity: 0;
            }
    
            >span:last-child {
                transform: rotate(-45deg);
            }
        }

    }

    &__logo {

        position: relative;
        height: 50px;

    }
    // Mobile menu
    &__menu_mobile {
        position: fixed;
        right: 0;
        top: 6.125rem;
        background: white;
        padding: 1.625rem;
        margin: 0 -500px 0 0;
        height: 100%;
        font-size: 20px;
        font-weight: 900;

        &_active {
            margin: 0; //13.0625rem
        }

        a {
            display: block;
            padding: 1rem;
            text-align: center;
            color: black;
        }
    }

    &__links {
        margin-left: auto;
        margin-right: 50px;
        font-size: 20px;
        font-weight: 600;
        
        a {
            position: relative;
            color: rgb(55, 55, 55);
            transition: color 200ms ease-in-out;

            &:not(:last-child){
                margin-right: 2rem;
            }

            &:hover {
                color: rgb(122, 116, 116);
            }

            &::after {
                position: absolute;
                content: "";
                bottom: -15px;
                left: 0;
                display: block;
                width: 100%;
                height: 2px;
                background-color: #39BB97;
                transform: scale(0);
                transition: transform .8s cubic-bezier(0.11, 0.7, 0, 1);
            }

            &:hover:after {
                transform: scale(1);
              }
            
        }
    }

    &__hamburger {

        position: relative;
        z-index: 10;

        >span {
            display: block;
            background-color: #39BB97;
            width: 26px;
            height: 2px;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;

            &:not(:last-child){
                margin-bottom: 5px;
            }
        }

    }

}

