.column {

    &__50 {
        flex: 50%;   
    }

    &__100 {
        flex: 100%;
    }

    &__centerTxt {
        text-align: center;
    }

}

.hero_container {
    padding: 104px 24px 0 24px;

    @include breakpoint-up(large) {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    
}


.hero_text {

    margin: 30px 0 30px 0;

    @include breakpoint-up(large) {
        flex: 1;
        order: 1;
        padding: 0 50px 0 160px;

    }

    a{
        display: none;

        @include breakpoint-up(large) {
            display: inline-block;
    
        }

        transition: color 200ms ease-in-out;

        &:hover {
            color: rgb(122, 116, 116);
        }
    } 

    .pulse_text {
        color: rgba(57, 187, 151, 1);
        animation: pulse 3s infinite;   
    }
 
}




.hero_image {
    padding: 0 50px 0 50px;
    background-image: linear-gradient(rgba(78, 78, 78, 0.089)), url('/img/hero.jpg');
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px 17px -11px rgba(0,0,0,0.52);
    border-radius: 5px;
    min-height: 37.5rem;
    @include breakpoint-up(large) {
        flex: 1;
        order: 2;
    }

    @include breakpoint-down(small) {
        padding: 0;
        min-height: 19.5rem;
        margin-top: 30px;
        }
}

