// .column {

//     &__50 {
//         flex: 50%;   
//     }

//     &__100 {
//         flex: 100%;
//     }

//     &__centerTxt {
//         text-align: center;
//     }

// }

.hero_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
    // min-height: 100vh;
    padding: 0rem 1rem 0 1rem;

    @include breakpoint-up(large) {
        padding: 6.5rem 1.5rem 0 1.5rem;
        align-items: center;
        margin: auto;
        max-width: 1440px;
        min-height: 100vh;
    }

    
}


.hero_text {

    @include breakpoint-up(large) {
        flex: 1;
        order: 1;
        // padding: 0 50px 0 160px;

    }

    a{

        @include breakpoint-up(large) {
            display: inline-block;
    
        }

        transition: color 200ms ease-in-out;

        &:hover {
            color: rgb(122, 116, 116);
        }
    } 

    .pulse_text {
        color: $mainGreen;
        animation: pulse 3s infinite;   
    }
 
}




.hero_image {
    flex: 100%;
    margin-bottom: 1.875rem;
    text-align: center;

    @include breakpoint-up(large) {
        flex: 1;
        order: 2;
    }

    img {
        width: 100%;
        border-radius: 5px;

        @include breakpoint-up(large) {
            width: 600px;
        }
    }
}

