html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 800;
  color: #373737;
  background-color: #F6F6F6;
}

a, a:visited, a:hover {
  text-decoration: none;
}

p {
  font-family: 'Urbanist', sans-serif;
  font-weight: 200;
  color: rgba(0, 0, 0, 0.705);
}

@media (min-width: 64em) {
  p {
    width: 80%;
  }
}

h1 {
  margin-top: 0;
  font-family: 'Archivo Black', sans-serif;
  font-size: 2.8125rem;
  letter-spacing: 3px;
  margin-bottom: 0;
}

@media (max-width: 39.9375em) {
  h1 {
    font-size: 3rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-justify-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-justify-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-aling-i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-e {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro_container {
  padding: 0 1rem 0 1rem;
}

.sub_container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 100vh;
}

@media (max-width: 39.9375em) {
  .sub_container {
    margin-top: 0;
    min-height: 80vh;
  }
}

.sub_container__h50 {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 0;
}

.sub_container__h50 h2 {
  display: none;
}

@media (min-width: 64em) {
  .sub_container__h50 h2 {
    display: block;
  }
}

.sub_container__h50 p {
  margin: 0 0 0 0;
}

.button {
  display: inline-block;
  padding: 0.625rem;
  border-radius: 5px;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: white !important;
  background-color: #39BB97;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button__cta {
  display: inline-block;
  color: #373737;
  margin: 1.875rem 0 1.875rem 0;
  padding-bottom: 0.625rem;
}

.button:hover {
  opacity: 0.75;
}

.fas {
  color: #39BB97;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
}

.header nav {
  padding: 15px 24px 15px 24px;
}

@media (min-width: 64em) {
  .header nav {
    padding: 24px;
  }
}

@media (max-width: 63.9375em) {
  .header .fixed {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
  }
}

.header.open .header__hamburger > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__hamburger > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__hamburger > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__logo {
  position: relative;
  height: 50px;
}

.header__menu_mobile {
  position: fixed;
  right: 0;
  top: 5rem;
  background: white;
  padding: 1.625rem;
  margin: 0 -500px 0 0;
  height: 100%;
  font-size: 20px;
  font-weight: 900;
}

.header__menu_mobile_active {
  margin: 0;
}

.header__menu_mobile_disable {
  margin: 0 -500px 0 0;
}

.header__menu_mobile a {
  display: block;
  padding: 1rem;
  text-align: center;
  color: black;
}

.header__links {
  margin-left: auto;
  margin-right: 50px;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.header__links a {
  position: relative;
  color: #373737;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 2rem;
}

.header__links a:hover {
  color: #7a7474;
}

.header__links a::after {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #39BB97;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.11, 0.7, 0, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.8s cubic-bezier(0.11, 0.7, 0, 1);
  transition: transform 0.8s cubic-bezier(0.11, 0.7, 0, 1), -webkit-transform 0.8s cubic-bezier(0.11, 0.7, 0, 1);
}

.header__links a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header__hamburger {
  position: relative;
  z-index: 10;
}

.header__hamburger > span {
  display: block;
  background-color: #39BB97;
  width: 26px;
  height: 2px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__hamburger > span:not(:last-child) {
  margin-bottom: 5px;
}

.hero_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6.5rem 1rem 0 1rem;
}

@media (min-width: 64em) {
  .hero_container {
    padding: 6.5rem 1.5rem 0 1.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    max-width: 1440px;
    min-height: 100vh;
  }
}

@media (min-width: 64em) {
  .hero_text {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero_text a {
  display: none;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

@media (min-width: 64em) {
  .hero_text a {
    display: inline-block;
  }
}

.hero_text a:hover {
  color: #7a7474;
}

.hero_text .pulse_text {
  color: #39BB97;
  -webkit-animation: pulse 3s infinite;
          animation: pulse 3s infinite;
}

.hero_image {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 1.875rem;
  text-align: center;
}

@media (min-width: 64em) {
  .hero_image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.hero_image img {
  width: 100%;
  border-radius: 5px;
}

@media (min-width: 64em) {
  .hero_image img {
    width: 600px;
  }
}

@-webkit-keyframes pulse {
  0% {
    color: rgba(57, 187, 151, 0.7);
  }
  70% {
    color: #373737;
  }
  0% {
    color: #39bb97;
  }
}

@keyframes pulse {
  0% {
    color: rgba(57, 187, 151, 0.7);
  }
  70% {
    color: #373737;
  }
  0% {
    color: #39bb97;
  }
}
/*# sourceMappingURL=style.css.map */